<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="babys" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\Python\python.exe|E:\Python\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
